body {
    height: 100vh;
    margin: 0;
}

.header,
.top-content,
.footer {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.top-content {
    display: flex;
    justify-content: center;
    padding: 48px;
}

.image {
    width: 500px;
}

.text-container {
    display: flex;
    width: 500px;
    flex-direction: column;
}

.title-two {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.content-two {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 52px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 145px;
    height: auto;
    text-align: center;
}

.box {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 145px;
    height: 145px;
}

.quote-area {
    display: flex;
    padding: 80px;
    justify-content: center;
    text-align: left;
    background-color: #E5E7EB;
}

.signature {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.quote-text {
    font-size: 36px;
    max-width: 760px;
}

.ad-area {
    display: flex;
    justify-content: center;
    padding: 52px;
}

.ad-box {
    display: flex;
    background-color: #3882f6;
    padding: 32px 64px;
    align-items: center;
    color: white;
    gap: 80px;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 32px;
}

/* Just for visualising borders */

.image,
.text-container,
.content-two,
.quote-area,
.ad-area {
    border: solid 1px red;
}