body {
    height: 100vh;
    margin: 0;
}

.header,
.top-content {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.top-content {
    display: flex;
    justify-content: center;
    padding: 48px;
}

.image {
    width: 500px;
}

.text-container {
    display: flex;
    width: 500px;
    flex-direction: column;
}

.content-two {
    display: flex;
}

.content-container {
    display: flex;
}

.box {
    border: 2px solid blue;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

/* Just for visualising borders */

.image,
.text-container,
.content-two {
    border: solid 1px red;
}